@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit';
    background-color: hsl(220, 83%, 88%);
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;

}

div{
    height: max-content;
    width: 375px;
    padding: 15px;
    margin:50% auto;
    background-color: white;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 5px 10px 10px hsla(212, 13%, 71%, 0.6);
}

div.container img{
    border-radius: 1rem;
    width: 100%;
    height: auto;
    padding: 5px;
    position: relative;
}
.one{
    color: hsl(218, 44%, 22%);
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 700;
    padding: 5px 10px 5px 10px;
    margin: 15px auto;
   
}
.two{
    width: 100%;
    height: 100%;
    font-weight:400;
    font-size: 1.2rem;
    text-align: center;
    color:hsl(220, 15%, 55%);
    margin: 15px auto;
    padding: 5px 10px 5px 10px;
}